.dropdownContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.dropdown {
  position: relative;
  border-radius: 8px;
  border: 1px #e1e3e6 solid;
  background-color: #ffffff;
  color: #999fa6;
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown:focus {
  /* border-color: #ff5500; */
  /* outline: none; */
  /* border: 1px solid #ff5500; */
  border-color: #ff5500;
  /* outline: #ff5500; */
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #e1e3e6;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 10px 22px -4px #1b1f231f;
  margin-top: 4px;
  z-index: 1;
  padding: 8px;
}

.dropdownItem {
  padding: 12px;
  color: #1b1f23;
  cursor: pointer;
  border-radius: 8px;
}

.dropdownItem:hover {
  background-color: #fafafa;
}

.arrow {
  background: none;
  border: none;
  display: flex;
}

.rotated {
  transform: rotate(180deg);
}
